/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    align-items: flex-start;
    /* height: 8vh; */
    justify-content: space-between;
    max-width: 75vw;
    
}
header img {
    height: 4.2vh;
    padding: 1rem 0;
}
.category{
    gap:3rem;
    display:flex;


}
.category p{
    align-items: stretch;
    margin: 0rem;
    padding:0.5rem;
}
.category p:hover{
    border-top: 2px solid #0065FC;
    
}
.searchbar-and-filter{
    display:flex;
    flex-direction:column;
    gap:2vh

}
.searchbar{
    display:flex;
    height: 50px;
     border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    background-color: white;
    justify-content: space-between;
    width:fit-content;
    /* box-shadow:5px 5px 5px lightgray */
    
}
.searchbar img{
    padding:5px;
    height:auto;
    width: auto;
    background-color: var(--main-bg-color);
    border-radius:15px 0 0 15px ; 
}
.searchbar button{
    background-color: #0065FC;
    border-radius: 0 15px 15px 0px;
    border: 0px solid white;
    font-weight: bold;
    color:white
    }
.searchbar form{
    display:flex;
    justify-content: center;
    font-weight: bold;
    min-width: 200px;
}
.fa-location-dot{
    color:black;
    height:auto;
    min-width: 50px;
    background-color: var(--main-bg-color);
    border-radius:15px 0 0 15px ;
    display:flex;
    align-items: center;
    justify-content:center;
}


.filters{
    /* height: 5vh; */
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:3vh;
    margin:0
}
.filters p{
    font-weight: bold;

}
.filter {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
    border: 2px solid var(--main-bg-color);
    background-color: white;
    border-radius: 25px;
    padding:0rem 1rem 0rem 1rem;
}
.filter:hover{
    background-color: #DEEBFF;
}

.city-offer{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}

.main-container {
    width: 100%;
    max-width: 90vw;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    max-width: 1440px;
    gap:3rem;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements{
    width:fit-content;
    max-width: 45vw;
}
.hebergements h4{
    font-weight: bold;
    margin:1rem 0 1rem 1.5rem
}
.hebergements h3{
    font-weight: bold;
    margin:0 0 0 1.5rem
}
.hebergements-choice {
   
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.hebergements-image-container img{
    width:auto;
    height:200%;
    width:200%
    
}
.hebergements-image-container {
    width: 240px; 
    height: 120px;
    overflow: hidden;
    border: 5px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.hebergements-card{
    border-radius: 20px;
    width:30%;
    margin:0;
    margin-bottom: 1.5rem;

}
.hebergements-infos p{
    margin: 2px;
}
.hebergements-infos h4{
    margin: 2px
}
.hebergements-rating{
    margin:2px;
}
.hebergements-infos{
    display:flex;
    flex-direction: column;
    padding:0.5rem;
    background-color:white;
    width:234px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



@media (max-width: 1850px) {
    .hebergements-card{
        width: 35%;
    }

}
@media (max-width:1400px){
    .hebergements-and-populaires{
    display:flex;
    flex-direction: column;}
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}